:root {
    --cyan: #3DCFD3;
    --black: #161616;
    --white: #FFFFFF;
    --grey: #898989;
    --lightbg: #F2F2F2;
    --secondary: #070606;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar */

header {
    background-color: var(--black);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%); */
    height: 75vh;
}

header .container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .logo {
    margin-right: 3rem;
    margin-left: 3.1rem;
}

header nav {
    padding: 1rem 0;
}

header nav a:hover {
    color: var(--cyan);
}

header nav a {
    color: var(--white);
    text-decoration: none;
    margin-right: 2rem;
    transition: all .3s ease;
}

.btn {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 3rem;
    transition: all .3s ease;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--cyan);
    color: var(--cyan);
}

/* utility classes */

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.btn-primary {
    color: var(--black);
    background-color: var(--cyan);
}

.flex1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

/* Home Page for Introduction */

.model .left img {
    width: 320px;
    padding-top: 20px;
}

.model .right {
    color: var(--white);
}

.model .right h2 {
    font-size-adjust: 1.6rem;
    color: var(--cyan);
    margin-bottom: 0.5rem;
}

.model .right h1 span {
    color: var(--cyan);
}

.model .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 100;
}

.model .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

/* About Me Section */

section.about {
    padding: 4rem 0;
    margin-bottom: 3rem;
}

section .about-me-img {
    height: 450px;
    padding-left: 2rem;
}

section .about-me-text h3 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

section .about-me-text h3 span {
    color: var(--cyan);
}

section .about-me-text h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

section .about-me-text p {
    font-size: 1.3rem;
    line-height: 2.9rem;
    color: var(--grey);
}

section .about-me-img img {
    width: 38rem;
    margin-top: 5rem;
}

/* Skills Section */

section .section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

section .section-heading+p {
    color: var(--grey);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 8rem;
}

section .section-heading span {
    color: var(--cyan);
}

.skills .container .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 9rem;
    grid-column-gap: 1rem;
    grid-row-gap: 6rem;
}

.skills .container {
    background-color: #89898929;
    padding-top: 2rem;
}

.skills .container .card-wrapper .card:hover {
    cursor: pointer;
}
.skills .container .card-wrapper .card {
    background-color: var(--white);
    padding: 0rem 2rem;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    transition: all 0.3s ease;
}

.skills .container .card-wrapper .card img {
    height: 6rem;
    position: absolute;
    top: -3.5rem;
    left: 13.4rem;
}

.skills .container .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.skills .container .card-wrapper .card p {
    font-family: 'Poppins', sans-serif;
    color: var(--grey);
    line-height: 1.6;
}

.skills .container .card-wrapper .card:hover {
    background-color: var(--secondary);
    /* color: var(-- */
}

.skills .container .card-wrapper .card:hover p, .skills .container .card-wrapper .card:hover h2 {
    color: var(--white);
}

/* Freelancer Section */

section.freelancer {
    text-align: center;
    /* justify-content: center; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/camera.png);
    color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-top: 4rem;
    padding-bottom: 14rem;
}

section.freelancer h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

/* Work Section */

/* 
section.works{
    background-color: var(--lightbg);
    padding-top: 4rem;
    padding-bottom: 6rem;
}

section.works .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    grid-gap: 2rem;
}

section.works .card-wrapper .card{
    position: relative;
    height: 250px;
}

section.works .card-wrapper .card img{
    height: 100%;
    width: 100%;
}

section.works .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(61, 207, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--lightbg);
    opacity: 0;
    transition: all 0.5s ease;
}

section.works .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}

section.works .card-wrapper .card .overlay:hover{
    opacity: 1;
} */

footer {
    background-color: var(--secondary);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 2rem 0;
}

footer .copyright {
    color: var(--white);
}

footer .footer-logo {
    margin-bottom: 1rem;
}

footer .footer-social img {
    margin: 1rem;
    width: 2rem;
}

.site-main-wrapper {
    position: relative;
}

.hamburger {
    position: absolute;
    top: 19px;
    right: 22px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.hamburger img {
    height: 3rem;
}

.mob-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--lightbg);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
}

.times {
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
}

.mob-nav ul {
    list-style: none;
}

.mob-nav ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 2rem;
}

/* Tab CSS */

@media(max-width:1283px) {

    .model .left img {
        width: 355px;
        padding-top: 1rem;
    }
    .model .right h2 {
        font-size: 2.6rem;
        color: var(--cyan);
        margin-bottom: 0.5rem;
        margin-top: 6rem;
    }
    header {
        background-color: var(--black);
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 31% 88%, 0 100%); */
        height: 65vh;
    }

    .model .right h1 {
        font-size: 3.2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        font-weight: 100;
    }

    .model .right p {
        line-height: 1.9;
        margin-bottom: 2rem;
        font-size: 22px;
    }

    #about-container{
        display: flex;
        flex-direction: column;
    }

    section .about-me-img img {
        width: 38rem;
        margin-top: 1rem;
    }    

    section .about-me-text h3 {
        margin-bottom: 0.5rem;
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-left: 15rem;
    }

    section .about-me-text h4 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        margin-left: 7rem;
    }

    section .about-me-text p {
        font-size: 2rem;
        line-height: 4rem;
        margin-left: 2rem;
        color: var(--grey);
    }.skills .container .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 1rem;
    grid-column-gap: 3rem;
    grid-row-gap: 6rem;
    }

    .skills .container .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 1rem;
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
    }

    section .section-heading {
        color: var(--secondary);
        text-align: center;
        margin-bottom: 2rem;
        line-height: 0.5;
        font-size: 4rem;
    }

    section .section-heading+p {
        font-size: 2rem;
        color: var(--grey);
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-bottom: 6rem;
    }

    .skills .container .card-wrapper .card {
        background-color: var(--white);
        padding: 0rem 4rem;
        position: relative;
        padding-top: 5rem;
        padding-bottom: 2rem;
        text-align: center;
        transition: all 0.3s ease;
    }

    .skills .container .card-wrapper .card h2 {
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    .skills .container .card-wrapper .card p {
        font-family: 'Poppins', sans-serif;
        color: var(--grey);
        line-height: 1.6;
        font-size: 2rem;
    }

    .skills .container .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem 1rem;
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
    }

    section.freelancer h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    section.freelancer p {
        margin-bottom: 2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.9rem;
        color: #bfafff;
        font-weight: bolder;
    }

    footer .footer-social img {
        margin: 1rem;
        width: 4rem;
    }

    footer .copyright {
        color: var(--white);
        font-size: 2rem;
    }

    section.freelancer {
        text-align: center;
        /* justify-content: center; */
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/camera.png);
        color: var(--white);
        clip-path: polygon(0 0, 100% 0, 108% 99%, 48% 73%, 0 91%);
        padding-top: 4rem;
        padding-bottom: 14rem;
    }

    .skills .container .card-wrapper .card img {
        height: 6rem;
        position: absolute;
        top: -3.5rem;
        left: 7.4rem;
    }
}

/* Media CSS */

    @media(max-width:414px){
        header #main-nav{
            display: none;
        }

        #home-about{
            flex-direction: column ;
        }

        .model .left img {
            width: 155px;
            padding-top: 1rem;
            margin-bottom: 2rem;
        }

        .model .right h2 {
            font-size: 31px;
            color: var(--cyan);
            margin-bottom: 0.5rem;
            margin-top: 0rem;
        }

        .model .right h1 {
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 1rem;
            font-weight: 100;
        }


        .model .right p {
            line-height: 1.9;
            margin-bottom: 2rem;
            font-size: 18px;
        }

        header #home-about .right{
            padding-left: 20px;
        }

        section .about-me-img {
            height: 450px;
            padding-left: 0rem;
        }

        section .about-me-img img {
            width: 25rem;
            margin-top: 1rem;
        }

        section.about {
            padding: 1rem 0;
            margin-bottom: 3rem;
        }
        

        section .about-me-text h3 {
            margin-bottom: 0.5rem;
            font-size: 40px;
            margin-top: 1rem;
            margin-left: 7rem;
        }

        section .about-me-text h4 {
            font-size: 19px;
            margin-bottom: 1rem;
            margin-left: 38px;
        }

        section .about-me-text p {
            font-size: 20px;
            line-height: 35px;
            margin-left: 1rem;
            color: var(--grey);
        }

        section .section-heading {
            color: var(--secondary);
            text-align: center;
            margin-bottom: 2rem;
            line-height: 0.5;
            font-size: 45px;
        }

        section .section-heading+p {
            font-size: 20px;
            color: var(--grey);
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        .skills .container .card-wrapper .card {
            background-color: var(--white);
            padding: 0rem 2rem;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 2rem;
            text-align: center;
            transition: all 0.3s ease;
        }

        .skills .container .card-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 5rem 1rem;
            grid-column-gap: 3rem;
            grid-row-gap: 6rem;
        }

        .skills .container .card-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 5rem 1rem;
            grid-column-gap: 3rem;
            grid-row-gap: 6rem;
        }

        .skills .container .card-wrapper .card img {
            height: 6rem;
            position: absolute;
            top: -3.5rem;
            left: 8.4rem;
        }

        section.freelancer h1 {
            font-size: 25px;
            margin-bottom: 1.5rem;
        }

        section.freelancer p {
            margin-bottom: 2rem;
            font-family: 'Poppins', sans-serif;
            font-size: 22px;
            color: #bfafff;
            font-weight: bolder;
        }

        .btn {
            padding: 0.8rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            border: 2px solid transparent;
            border-radius: 2rem;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            margin-right: 0rem;
            transition: all .3s ease;
        }

        section.freelancer {
            text-align: center;
            /* justify-content: center; */
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/camera.png);
            color: var(--white);
            clip-path: polygon(0 0, 100% 0, 106% 92%, 49% 67%, 0 87%);
            padding-top: 4rem;
            padding-bottom: 14rem;
        }

        footer .footer-logo {
            margin-bottom: 1rem;
            width: 200px;
        }

        footer .footer-social img {
            margin: 1rem;
            width: 2rem;
        }

        footer .copyright {
            color: var(--white);
            font-size: 18px;
        }

        footer {
            background-color: var(--secondary);
            text-align: center;
            padding: 1rem 0;
        }


    }